<div class="row">
    <div class="col-md-12">
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" placeholder="Movie Filter Search" class="form-control" ng-model="movieText">
            </div>
            <button type="button" class="btn btn-success" ng-click="movieSearch()">Search</button>
            <button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>{{subtitle}}</h2>
    </div>
</div>
<div class="row">
    <div ng-repeat="movie in movies">
        <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a href="#!/detail/{{movie.display_title}}" role="button">
                    <img ng-src="{{movie.multimedia.src | searchResultImg}}" style="width: 100%;" alt="{{movie.display_title}}" />
                </a>
                <div class="caption">
                    <h4>Movie’s Title: {{movie.display_title}}</h4>
                    <p>Opening Date: {{movie.opening_date}}</p>
                    <img ng-if="movie.opening_date" src="critic-pics.png" style="width: 40px;" alt="Critic Pic" class="pull-right" title="Critic Pics" />
                    <p>
                        <a href="#!/detail/{{movie.display_title}}" class="btn btn-primary" role="button">View details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
